ul{
  display: flex;
  justify-content:center;
  align-items:center;

}

ul>a{
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease-out;
  color:black;
  font-size: 18px;
  font-weight: 520;
  margin:auto 20px auto 0px;

}

@media (min-width:768px){
  ul>a{
    margin:auto 50px auto 0px;
  }
}
ul>a:hover{
  cursor:pointer;
  transform: scale(1.2);

}